@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="privacy" style="padding:10px;">
    <h2>@ViewData["Title"]</h2>

    <p>This Privacy Policy outlines how Dobrusky Capital LLC ("we", "us", or "our") collects, uses, and protects the information we gather from visitors to our website. Our primary goal in collecting personal information is to provide you with a customized and efficient experience.</p>

    <h3>Collection of Personal Information</h3>
    <p>We collect minimal personal information from our users. The only personal information we currently collect is:</p>
    <ul>
        <li>Email Addresses: We collect email addresses when users voluntarily subscribe to our mailing list. This information is used to provide users with updates, educational materials, and other related content via email.</li>
    </ul>

    <h3>Use of Personal Information</h3>
    <p>The personal information you provide is used for the following purposes:</p>
    <ul>
        <li>To send periodic emails containing information about our products, services, and educational content.</li>
        <li>To improve our website and offerings based on your information and feedback.</li>
    </ul>

    <h3>Protection of Your Information</h3>
    <p>We implement a variety of security measures to maintain the safety of your personal information. Your personal information is stored behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems and are required to keep the information confidential.</p>

    <h3>Disclosure to Third Parties</h3>
    <p>We do not sell, trade, or otherwise transfer your personally identifiable information to outside parties. This does not include trusted third parties who assist us in operating our website, conducting our business, or servicing you, as long as those parties agree to keep this information confidential.</p>

    <h3>Your Consent</h3>
    <p>By using our site, you consent to our website's privacy policy.</p>

    <h3>Changes to our Privacy Policy</h3>
    <p>If we decide to change our privacy policy, we will update the Privacy Policy modification date below.</p>
    <p>This policy was last modified on January 29th, 2024</p>

    <h3>Contacting Us</h3>
    <p>If there are any questions regarding this privacy policy, you may contact us at this email: <a href="mailto:dobruskycapital@gmail.com" target="_blank">dobruskycapital@gmail.com</a></p>
</section>